/* body{
   background-image: url("../../assets/images/backgroundLogin.jpg");
} */

.container{
  background-image: url("../../assets/images/backgroundLogin.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-login{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 2rem #919191;
  padding: 1rem;
  height: auto;
  width: 50vw;
  background-color: transparent;
  backdrop-filter: blur(10px);
}