.container-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-input label{
    margin: 0.5rem 0;
    font-size: large;
}

.container-input input{
    border: 0;
    border-bottom: 1px solid #808080;
    outline: none;
    margin: 0.5rem 0;
    font-size: large;
    background-color: transparent;
}