.container-home{
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 1rem;
  text-align: center;
}

.container-home h3{
    font-size: large;
    color:  #262626;
}

.container-home ul{
    list-style: none;
    font-size: large;
}

.header{
    background-color: #506f81 ;
    color:  #262626;
    margin-top: fixed;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 3rem;
}

.container-contador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.container-contador h3{
    font-size: larger;
    font-weight: 700;
}